<main>
    <h2>Kurser för Webbutvecklings program</h2>

    <div>
        <label for="searchPhrase">Hitta kurs:</label>
        <input type="text" id="searchPhrase" [(ngModel)]="searchPhrase" (input)="findCourse()">
    </div>
    <table>
        <thead>
            <tr>
                <th data-order="codeOrder" (click)="sortByCode()" class="sortHeader">Kurskod <em [class]="codeArrow"></em></th>
                <th data-order="nameOrder" (click)="sortByName()" class="sortHeader">Kursnamn <em [class]="nameArrow"></em></th>
                <th>Progression</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of filteredCourses">
                <td><a [href]="course.syllabus" target="_blank" class="course-plan">{{ course.code }}</a></td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
            </tr>
        </tbody>
    </table>
</main>